.cont {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;

  /* width: 200;
  margin: 10; */
}
.faction {
  text-align: center;
}

.task_card {
  margin-bottom: 1rem;
}

.btn {
  background-color: black;
}
